modules = ["nodejs-20"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
PORT = "5000"
NODE_ENV = "development"
GOOGLE_CLIENT_ID = "982269596237-4d8rrm0jbsq14dll6u6d1ocebhem13c8.apps.googleusercontent.com"
APPLE_TEAM_ID = "V4K6RM59LS"
APPLE_CLIENT_ID = "com.mafaseltech.mafaseltech"
VAPID_PUBLIC_KEY = "BEycBOkyfpLUcEdSqIP9TBFIJf_krICKbdtMoGuwST5x_X6gkqQ6dsMN3BlQqubWNCNCLXAH1kmZtFLtMJVVCwI"
VAPID_EMAIL = "mailto:admin@mafasel.com"
GOOGLE_CALLBACK_URL = "https://mafaseltech.com/api/auth/google/callback"
QMEET_BASE_URL = "https://qiroxstudio.online/api/qmeet/v1"
APPLE_CALLBACK_URL = "https://mafaseltech.com/api/auth/apple/callback"
APPLE_KEY_ID = "86ZZ333H2N"

[userenv.production]
BASE_URL = "https://mafaseltech.com"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 23636
externalPort = 80

[deployment]
deploymentTarget = "vm"
run = ["bash", "-c", "NODE_ENV=production node server.js"]
